<%- include("./partials/header") %>
<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>
<%- include("./partials/footer") %>
<!-- <li><a href="/register">Sign up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li> -->